service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, create: if userId == request.auth.uid;

      
      match /todos/{todoId} {
        allow read, write: if userId == request.auth.uid;
      }
    }
  }
}
